.main-navigation {

	display: block;
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	background: #fff;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);

	@include media-breakpoint-up(lg) {
		position: relative;
		box-shadow: none;
	}

	a {
		color: $color__text-accent;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: #82bb5d;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				text-align: left;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}

		&#site-brand { //Logo
			order: 1;
			display: block;
			background: #FFF;

			img {
				max-width: 165px;
				padding-top: 15px;
				width: 100%;
				margin-bottom: 25px;

				@include media-breakpoint-up(lg) {
					max-width: 250px;

				}
			}

			@include media-breakpoint-up(md) {
				padding: 0 2em;
			}
		}

		&.menu-item:nth-child(n+4) {
			order: 2;

			a {

				@include media-breakpoint-up(lg) {
					border-left: 1px solid $color__border;
					border-right: none;
				}
			}
		}

		&.menu-item {
			visibility: hidden;
			text-align: left;
			opacity: 0;
			display: none;
			transition: all 0.2s ease-in-out;

			@include media-breakpoint-up(lg) {
				display: block;
				margin: auto 0;
				text-align: center;
				visibility: visible;
				opacity: 1;
			}

			a {
				font-size: 13px;
				line-height: 1.2;
				padding: 28px 19px;
				margin: 0 -12px;
				background: #ede9e2;
				border-bottom: 1px solid #707070;


				@include media-breakpoint-up(lg) {
					border-right: 1px solid $color__border;
					background: none;
					border-bottom: none;
					margin: 0;
				}

				@include media-breakpoint-up(xxl) {
					font-size: 15px;
					line-height: 1.4;
					padding: 10px 38px;
				}
			}

			br {
				display: none;

				@include media-breakpoint-up(lg) {
					display: inline-block;
				}
			}
		}

	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.main-navigation.toggled {

	.menu-item {
		display: block;
		visibility: visible;
		opacity: 1;
	}

	@include media-breakpoint-down(lg) {
		height: 100vh;
		background: #EDE9E2;
	}
}

/* Small menu. */
.menu-toggle {
	display: block;
	background: none;
	border: none;
	cursor: pointer;
	top: 28px;
	z-index: 100;
	position: absolute;
	left: -11px;

	span {
		width: 37px;
		height: 3px;
		background-color: #486e33;
		display: block;
		margin: 6px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

}

@include media-breakpoint-up(lg) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
		text-align: center;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
