#page > footer {
	background: #2f2f2f;
	padding: 25px 0 155px;
}

.footer-widget {

	.widget-title {
		color: #e0e0e0;
		font-weight: 800;
		margin: 0 0 15px 0;
		min-height: 59px;
		font-size: 14px;
		padding: 0 0 10px;
		display: inline-flex;
		border-bottom: 2px solid $color__text-accent;
		flex-direction: column-reverse;
	}

	a {
		color: #9ba3bf;
		text-decoration: none;
		margin-bottom: 8px;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: #bdc6e5;
		}
	}

	p {
		margin: 0 0 15px;
	}

	img { //reasoning for logos scope
		max-width: 180px;
	}
}

.footer-area {
	display: grid;
	grid-template-columns: 1fr;

	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(2, 1fr);

	}

	@include media-breakpoint-up(xl) {
		grid-template-columns: repeat(4, 1fr);
	}
}
