
.site-headline {
	background: #000;

	p {
		color: #91958e;
		font-size: 14px;
		margin: 0;
		padding: 12px 0;
		font-weight: 500;

		strong {
			font-weight: 600;
		}
	}
}

#masthead {

	@include media-breakpoint-up(lg) {
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
		position: fixed;
		top: 0;
		width: 100%;
		display: block;
		left: 0;
		z-index: 100;
		height: 142px;
		background: #fff;
	}
}
