@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700;800&family=Roboto+Slab:wght@100;300;400;500&display=swap);

// stylelint-disable value-keyword-case
$font__main: Inter, sans-serif;
$font__accent: "Roboto Slab", sans-serif;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
